<!-- entrevista-formulario.component.html -->

<div class="container mt-4">
  <h2>Formulario de Entrevista</h2>
  <form (ngSubmit)="guardarCambios()">
    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha:</label>
      <input type="date" id="fecha" class="form-control" [(ngModel)]="entrevista.fecha" name="fecha" required />
    </div>

    <div class="mb-3">
      <label for="candidato" class="form-label">Candidato:</label>
      <select id="candidato" class="form-control" [(ngModel)]="entrevista.candidato" name="candidato" required>
        <option *ngFor="let candidato of candidatos " [value]="candidato.id">{{ candidato.nombre }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="puesto" class="form-label">Puesto de Trabajo:</label>
      <select id="puesto" class="form-control" [(ngModel)]="entrevista.puesto" name="puesto" required>
        <option *ngFor="let puesto of puesto" [value]="puesto.id">{{ puesto.puesto }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="realizada" class="form-check-label">Realizada:</label>
      <input type="checkbox" id="realizada" class="form-check-input" [(ngModel)]="entrevista.realizada" name="realizada" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar Entrevista</button>
  </form>
</div>
